*{
  margin: 0;
  padding:0;
}

html, body{
  height: 100%;
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(255, 207, 207);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  margin-bottom: 1em;
}
.container{
  height: 700px;
  width: 700px;
  background-color: rgb(255, 207, 207);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  gap: 1em;
}

.card{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
}

